@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/*  font-family: "Orbitron", sans-serif; */

/* reset */
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #efefef;
}

/* 로딩 화면 스타일 */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loading.hidden {
  opacity: 0;
  pointer-events: none;
}

/* header */
header {
  width: 400px;
  height: 100%;
  position: fixed; left: 0; top: 0;
  background: linear-gradient( 45deg, #FFB6C1, #C9A0DC, #A8E6CF);
}
header h1{
  font-family: "Noto Sans KR", sans-serif;
  color: #fff; letter-spacing: 1px;
  position: absolute;
  left: 50px; top: 50%; transform: translateY(-150%);
}
header h1::before{
  content: 'Photo gallery';
  display: block;
  font:14px/1 "Orbitron", sans-serif;
  letter-spacing: 2px; opacity: 0.8;
  position: absolute;
  left: 0; top: 140px;
}
header h1::after{
  content: '';
  display: block;
  width: 150px; height: 2px; background: #fff;
  margin-top: 20px;
}
header ul{
  position: absolute; 
  left: 40px;
  bottom: 100px;
}
header ul li{
  float: left; margin-right: 10px;
  display: flex;
}
header ul li a{color: #fff; font-size: 20px; display: flex; align-items: center; gap: 8px;}
header ul li a span{
  display: inline-block; font-weight: bold;
  opacity: 0.7; transform: scale(0.7) translateX(-10px);
}
/* main */
main{
  margin-left: 400px; box-sizing: border-box;
  padding: 20px;
}
main ul{width: 100%; margin-bottom: 10px; margin-right: 20px;}
main ul::after{
  content: ''; display: block; clear: both;
}
main ul li{float: right; width: 100px; height: 26px;
margin-right: 20px;}
main ul li a{
  display: block; width: 100%; height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  color: #aaa; letter-spacing: 1px;
  text-align: center; background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  font-size: 16px;
 }
 main ul li.on a{
  background: linear-gradient(to right, #FFB6C1, #C9A0DC, #A8E6CF);
  box-shadow: 0 5px 20px #FFB6C1;
  color: #fff;
}
main section{
  width: 100%;
}
main section::after{  content: ''; display: block; clear: both;}
main section article{
  width: 20%;float: left ;box-sizing: border-box;
  padding: 12px;
}
main section article div{
  width: 100%; height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 14px; border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main section article div:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
main section article div img {
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
main section article div img:hover {
  transform: scale(1.05);
}
main section article div h2{
  margin-top: 15px;
  font-family: "Lora", serif;
  font-size: 18px;
  letter-spacing: 1px; color: #444;
  margin-bottom: 5px;
}
main section article div p{
  font:12px/1.2 'arial'; color: #777;
  margin-bottom: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

#image-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.modal-content img , .modal-content video {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

#caption {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

/* 버튼 스타일 */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#prev {
  left: 300px;
}
#next {
  right: 1000px;
}

button {
  margin: 0 15px;
}

@media screen and (max-width:1599px){
  header{width: 350px;}
  header ul li{margin-right: 5px;}
  main{margin-left: 350px;}
  main section article{width: 25%;}
  #prev {
    left: 300px;
  }
  #next {
    right: 1000px;
  }
}
@media screen and (max-width:1199px){
  header{
    width: 100%; height: 80px;
    position: relative;
  }
  header h1{
    font-size: 24px;
    transform: translateY(-50%);
  }
  header h1::before,header h1::after{display: none;}
  header ul{
    left: 83%; bottom: 25px;
  }
  header ul li{margin-right: 20px;}
  header ul li a{font-size: 20px;}
  header ul li a span{display: none;}
  main{margin-left: 0; width: 100%;}
}
#prev {
  left: 100px;
}

#next {
  right: 100px;
}
@media screen and (max-width:899px){
  header ul{left: 80%;}
  main section article{width: 33.33%;}
  main ul{display: flex;}
  main ul li{margin-right: 8px;}
 }

@media screen and (max-width:679px){
  header ul{left: 70%;}
  main section article{width: 50%;}
  #prev {
    left: 10px;
  }
  #next {
    right: 10px;
  }
}

@media screen and (max-width:539px){
  header ul{display: none;}
  main section article{width: 100%;}
  main ul{
    margin-right: 0;
    box-sizing: border-box;
    padding: 0 13px;
  }
  main ul li{
    width: 32%; margin-right: 2%;
  }
  main ul li:nth-of-type(1){margin-right:0;}
}